# Python
__pycache__/
*.pyc
# Virtual Environment
venv/
env/
# Databases
*.sqlite3
*.db
# Django Specific
local_settings.py
/media/
/staticfiles/
# Logs & Reports
*.log
coverage
htmlcov/
cache/
# IDE Configs
idea/
*.sublime-*
*.swp
*.swo
# OS Files
DS_Store
Thumbs.db